body {
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
}

.title-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.title-wrapper h1 {
  font-size: 50px;
  margin: 10%;
}

#content {
  width: 100%;
}

.content-wrapper {
  max-width: 1000px;
  margin: 10% auto;
}

.content-wrapper ul {
  margin: 0 10%;
  list-style: none;
  padding: 0;
}

.content-wrapper ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 28px;
}

.content-wrapper a:hover {
  color: #999;
  margin-left: 10px;
  font-size: 38px;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.title-wrapper p {
  max-width: 1000px;
  margin: 10px 10%;
}

@media only screen and (max-width: 720px) {
  .title-wrapper h1 {
    font-size: 40px;
  }
}
